<% content_for :banner do %>
  <section>
    <div class="v_carousel_content">
      <ul>
        <% @banner_items.each_with_index do |item, i| %>
          <li>
            <%= link_to item.link do %>
              <%= image_tag item.icon.url(:normal, false), :width => 128, :height => 128, :alt => (item.alt || item.name) %>
            <% end %>
          </li>
        <% end  %>
      </ul>
    </div>
  </section>
<% end %>

<% content_for :bannernav do %>
  <ul>
    <li class="v_carousel_prev"><a href="#">&laquo;</a></li>
      <% @banner_items.each_with_index do |item, i| %>
        <li class="v_carousel_nav<% if i == 1 %>.v_c_current<% end %>"><a href="#"><%= item.name %></a></li>
      <% end %>
    <li class="v_carousel_next"><a href="#">&raquo;</a></li>
  </ul>
<% end %>

