<p data-hook="show_available_in_store_only">
  <label>
    <%= hidden_field_tag 'preferences[show_available_in_store_only_products]', '0' %>
    <%= check_box_tag('preferences[show_available_in_store_only_products]', "1", Spree::Config[:show_available_in_store_only_products]) %>
    <%= t(:show_available_in_store_only_products) %>
  </label>
</p>
