<% unless @v_banner_shown %>
  <% @v_banner_shown = 1 %>
  <% content_for :banner do %>
    <% load_banner_data %>
    <div id='banner-text'>
      <h1 class="banner-name"><%= @banner_name %></h1>
      <% if @banner_description %>
      <p class="banner-description"><%= @banner_description %></p>
      <% end %>
    </div>
    <%= image_tag @banner_image, :class => "banner-image" %>
  <% end %>
<% end %>

