<% get_taxonomies.each do |taxonomy| %>
  <div id="v-taxonomy-<%= taxonomy.name %>" class="v-taxonomy-list">
    <div class="v-taxonomy-wrapper">
      <h6 class='taxonomy-root'><%= link_to seo_url(taxonomy.root) do %>
        <%= t(:shop_by_taxonomy, :taxonomy => taxonomy.name.singularize) %>
      <% end %></h6>
      <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
    </div>
  </div>
<% end %>

