$c-prim: white;
$c-sec: #00ADEE;
$c-ter: #EEAD00;
$bg-prim: white;
$bg-sec: #336699;
$bg-ter: #333333;
$bg-quar: #224466;
$bg-pent: #eeeeee;
$br-prim: #999999;
$br-sec: #00ADEE;

/*
$light-main: black;
$light-alt: #00ADEE;
$light-bg: white;
$light-border: 1px solid #999;

$dark-main: white;
$dark-alt: #00ADEE;
$dark-bg: #333;
$dark-border: 1px solid #666;
$selected-color: #EEAD00;
*/

$image-product-height: 240px;


@mixin rounded($a: 10px, $b: 10px, $c: 10px, $d: 10px) {
  border-radius: $a $b $c $d;
  -moz-border-radius: $a $b $c $d;
  -webkit-border-radius: $a $b $c $d;
}

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -ms-box-sizing: $type;
  -o-box-sizing: $type;
  box-sizing: $type;
}

@mixin columns($width: 120px, $gap: 10px) {
  -moz-column-width: $width;
  -moz-column-gap: $gap;
  -webkit-column-width: $width;
  -webkit-column-gap: $gap;
}

/*@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin selected {
  color: $selected-color !important;
}*/

@mixin border($c: $br-prim) {
  border: 1px solid $c;
}



body {
  /*background: url('body-bg-01.png') repeat-x scroll left top $bg-prim;*/
}

#header-wrapper {
  background: $bg-ter;
}

#banner-wrapper {
  background: $bg-sec;
}

#bannernav-wrapper {
  background: $bg-quar;
}

#content-wrapper {
  background: $bg-prim;
}

#footer-wrapper {
  background: $bg-ter;
}

#header {
  display: block;
  height: 40px;
  vertical-align: bottom;
  padding-top: 20px;
  margin: 0px;
  
  & > a#logo {
    font-weight: bold;
    font-size: 2em;
    margin-right: 20px;
  
    & > .logo-v {
      color: $c-ter;
    }
    
    & > .logo-k {
      color: $c-sec;
    }
  }
    
  & > #logo, & > form, & > form > select, & > form > input, & > nav > a {
    display: inline;
    float: left;
    clear: none;
  }
  
  & > nav {
    display: inline;
    float: right;
    clear: none;
  }
    
  & > form {
    & > select#taxon {
      @include rounded(10px, 0px, 0px, 10px);
      cursor: pointer;
    }
    
    & > input[type='submit'] {
      @include rounded(0px, 10px, 10px, 0px);
      @include border;
      padding-left: 5px;
      width: 25px;
      background:  url('mag_icon.png') no-repeat scroll right center white;
      text-indent: -9999px;
      cursor: pointer;
    }
    
    & > *:hover, & > *:focus, & > input[type='submit']:focus, & > input[type='submit']:hover {
      @include border($br-sec);
    }
    
    & > #keywords {
      width: 150px;
    }
  }

  & > nav {
    font-size: 1.5em;
    
    & > a {
      padding-left: 20px;
    }
    
    & > a.products {
      &:link, &:visited {
        color: $c-prim;
      }
    }
    
    /*& > a.login.account, & > a.empty, & > a.full {
      &:link, &:visited {
        color: $light-alt;
      }
    }
    
    & > a {
      &:hover, &:focus, &:active {
        color: $selected-color;
      }
    }*/
  }
}

#banner {
  margin: 0;
  padding: 0;
  background: transparent;
    
  & #banner-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    
    & > * {
      display: table-cell;
      width: 50%;
      height: 100%;
    }
  
    & #banner-text-wrapper {
      & #banner-name {
        color: $c-prim;
        font-size: 3em;
        text-shadow: 0px 0px 10px black;
        padding-left: 40px;
        padding-top: 20px;
        text-transform: capitalize;
      }
      
      & #banner-description {
        color: $c-prim;
      }   
    }
    
    & #banner-image-wrapper {
      text-align: center;
      vertical-align: middle;
      
      & #banner-image {

      }
    }
  }

  & .v-carousel-content, & .v-carousel-content img {
    height: 240px;
    width: 960px;
  }
}

@mixin nav-highlight() {
  color: $c-prim !important;
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

#bannernav {
  & ul {
    display: table;
    width: 100%;
    
    & > li {
      display: table-cell;
      /*float: left;
      padding-left: 20px;*/
      padding-top: 2px;
      padding-bottom: 2px;
      
      & > a {
        display: block;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        border: 1px solid transparent;
        outline: none;
      }
      
      &.v-carousel-current > a {
        &, &:link, &:visited {
          @include nav-highlight();
        }
      }
      & > a {
        &:hover, &:focus, &:active {
          @include nav-highlight();
        }
        
        &:focus, &:active {
          border: 1px dotted $c-prim;
        }
      }
    }
  }
}

#footer-wrapper {
  background-color: $bg-ter;
  
  & #footer {
    /*background-color: $bg-ter;*/
    color: $c-prim;
    width: 960px;
    display: table;
    position: relative;
    background: none repeat scroll 0 0 transparent;
    vertical-align: baseline;
    border: none;
    margin-bottom: 0px;
    width: 100%;
    
    & h3 {
      color: $c-prim;
    }
    
    & p {
      color: $bg-pent;
    }
  
    & > div {
      @include box-sizing;
      padding: 10px;
      display: table-cell;
      width: 33%;
    }
    
    & .footer-content, & #footer-pages {
      margin-top: 10px;
    }
  }
}

/*[data-hook='main-nav-bar'], #main-nav-bar[data-hook] {
  border: none;
  & > li {
    padding-left: 5px;
    padding-right: 5px;
    
  }
  & > .not, & > .current {
    border-left: $light-border;
  }
  
  & > .current > a {
    &, &:link, &:visited {
      color: $selected-color !important;
    }
    &:hover, &:focus, &:active {
      color: $dark-alt !important;
    }
  }
}*/

[data-hook='wrapper'], #wrapper[data-hook] {
  background-color: $bg-prim;
  padding: 5px;
}

.flash {
/*  @include rounded(5px);*/
}

[data-hook='main-image'], #main-image[data-hook] {
  height: $image-product-height;
  padding-top: 5px;
  padding-bottom: 5px;
}

#product-sku {
  font-weight: bold;
  
  & li {
    margin-bottom: 5px;
    &:first-child {
      margin-top: 10px;
    }
  }
  
  & .variant-sku {
    display: none;
    &.show {
      display: block;
    }
  }
}
  
nav.pagination {
  display: inline;
  float: left;
  clear: both;
}

[data-hook='taxonomies'], #taxonomies[data-hook] {
  
  border: 0;
  outline: 0;
  
  & .taxonomy-root {
    border-bottom: 0;
  }
    
  & li {
    margin-left: 10px;
    list-style: disc;
  }
  
  & .taxons-list {
    padding-left: 0px;
  }

  & .v-taxonomy-list, & .v-flyout-menu {
    background-color: $bg-pent;
    
    & ul li a {
      &, &:link, &:visited {
        color: $c-sec;
      }
    }
  }

  & .v-taxonomy-list {
    @include rounded();
    margin-bottom: 10px;
    
    & > .v-taxonomy-wrapper {
      position: relative;
    }
    /*&.v-has-flyout-menu {
      &:hover {
        @include rounded(10px, 0px, 0px, 10px);
      }
    }*/
    & > .v-taxonomy-wrapper {
      & > ul, & > h6 > a {
        padding-left: 20px;
        padding-right: 20px;
      }
      
      & > h6 > a {
        &:hover, &:focus, &:active {
          color: $c-sec !important;
        }
        
        &, &:link, &:visited {
          color: $c-ter;
        }
      }
      
      & a {
        display: block;
      }
      
      & > .taxons-list {
        padding-left: 30px;
        padding-bottom: 10px;
      }
      
      & > h6 {
        margin-bottom: 0px;
        & > a {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
    
    & .v-flyout-menu-more {
      @include rounded(0px, 0px, 5px, 5px);
      @include box-sizing();
      
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $c-ter;
      color: $c-prim;
      display: block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid transparent;
      box-shadow: none;
      
      &:focus, &:active {
        border: 1px dotted $bg-ter;
      }
      
      &:hover { 
        background-color: $c-sec;
      }
    }
  }
  
  & .v-flyout-wrapper {
    @include box-sizing;
    height: 100%;
    /*width: 400px;*/
    z-index: 100;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 210px;
    background: red;
 }
  
  & .v-flyout-menu {
    @include rounded(0px, 10px, 10px, 0px);
    @include box-sizing;
    @include columns;
    
    z-index: 100;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 210px;
    
    height: 100%;
    /*display: none;*/
    padding-left: 30px !important;
    padding-top: 10px;
    padding-bottom: 5px;
    list-style: none;
    
  }
  
  & .taxons-list {
    margin-bottom: 0;
  }
  
}


/*
[data-hook='top-nav-bar'], #top-nav-bar[data-hook] {
  float: right;
  display: inline;
  margin: 0;
}

[data-hook='search-bar'], #search-bar[data-hook] {
  clear: both;
}

[data-hook='nav-bar'] > li, #nav-bar[data-hook] > li {
  float: left;
}*/
a {
  text-decoration: none;
  
  &:hover, &:focus, &:active {
    color: $c-ter !important;
  }
  &:link, &:visited {
    color: $c-sec;
  }
}

