$(document).ready(function($) {
  // add sub menus and move extra items to sub menus
  $('.v-taxonomy-wrapper > ul').each(function() {
    $(this).find('li:gt(<%= Spree::Config[:max_taxons_in_menu] - 1 %>)').addClass('v-flyout-item');
  });
  $('.v-taxonomy-wrapper > ul > .v-flyout-item').parents('.v-taxonomy-list').addClass('v-has-flyout-menu');
  $('.v-has-flyout-menu').append('<button class="v-flyout-menu-more">MORE &raquo;</button>');
  $('.v-has-flyout-menu > .v-taxonomy-wrapper').append('<ul class="v-flyout-menu"></ul>');
  $('.v-has-flyout-menu > .v-taxonomy-wrapper > ul > .v-flyout-item').each(function() {
    $(this).appendTo($(this).parents('.v-has-flyout-menu').find('.v-flyout-menu'));
  });
  
  // hide sub menus
  $('.v-flyout-menu').css({display: "none"});
  
  // correct width of sub menus
  $('.v-has-flyout-menu').each(function() {
    var count = $(this).find('.v-flyout-menu .v-flyout-item').length;
    var p_count = $(this).find('.taxons-list').filter(':first').find('li a').length + 1;
    var cols = Math.ceil(count/p_count);
    var w = Math.floor(150 * cols);
    $(this).find('.v-flyout-menu').css({width: w.toString()});
  });
  
  // show menus on click
  $('.v-flyout-menu-more').click(function() {
    $(this).parents('.v-has-flyout-menu').find('.v-flyout-menu').toggle("slide", null, 400);
  });
});

